body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

#slots {
  height: vh;
  /* display: flex;
  flex-direction: column;
  gap: 0.5em; */
  display: grid;
  grid-template-columns: 2fr 3fr;
  row-gap: 0.5em;
  border: solid black 1px;
  padding: 0.5em;
}


#slots > :nth-child(9) {
  grid-column: span 2;
}

select {
  width: 100%;
}

@media (width < 50em) {
  #slots {
    width: 90vw; 
  }
}